infrastructure/n8n/alerta-escala.json
{"updatedAt":"2026-04-01T15:41:08.293Z","createdAt":"2026-04-01T15:41:08.293Z","id":"1kDNcdfzUV9ozs7D","name":"BTA-alerta-escala","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"bta-alertas","httpMethod":"POST","responseMode":"responseNode","options":{}},"id":"webhook-alertas","name":"Webhook Alertas","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"alertas@blocktravelagency.com\",\n  \"to\": [\"{{ $json.body.email_destino || $env.IBOTT_EMAIL || 'pendiente@blocktravelagency.com' }}\"],\n  \"subject\": \"{{ $json.body.tipo_alerta }} — {{ $json.body.evento }} — BlockTravelAgency\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><h2 style='color:#e74c3c'>⚠️ Alerta: {{ $json.body.tipo_alerta }}</h2><p><strong>Evento:</strong> {{ $json.body.evento }}</p><p><strong>Métricas:</strong></p><pre style='background:#f5f5f5;padding:15px;border-radius:5px'>{{ JSON.stringify($json.body.metricas, null, 2) }}</pre><p><strong>Acción recomendada:</strong> {{ $json.body.accion_recomendada || 'Revisar métricas y tomar decisión' }}</p><p style='margin-top:30px;color:#666;font-size:12px'>BlockTravelAgency.com — Sistema de alertas automático</p></div>\"\n}","options":{}},"id":"resend-alerta","name":"Enviar Alerta Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[470,300]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"ok\", \"message\": \"Alerta enviada correctamente\"} }","options":{"responseCode":200}},"id":"respond-alerta-ok","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[690,300]}],"connections":{"Webhook Alertas":{"main":[[{"node":"Enviar Alerta Email","type":"main","index":0}]]},"Enviar Alerta Email":{"main":[[{"node":"Responder OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"eb8a874b-a783-4572-889b-551df17a50a4","activeVersionId":"eb8a874b-a783-4572-889b-551df17a50a4","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T15:41:08.296Z","createdAt":"2026-04-01T15:41:08.296Z","role":"workflow:owner","workflowId":"1kDNcdfzUV9ozs7D","projectId":"KAB48ubo4jushI1a","project":{"updatedAt":"2026-04-01T15:17:00.687Z","createdAt":"2026-04-01T15:16:24.861Z","id":"KAB48ubo4jushI1a","name":"Emanuel Ortiz <info@blocktravelagency.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-04-01T15:16:24.861Z","createdAt":"2026-04-01T15:16:24.861Z","userId":"253fb0bf-37ca-4fa3-b7b4-dbdcfc832a7c","projectId":"KAB48ubo4jushI1a","user":{"updatedAt":"2026-04-01T15:17:30.000Z","createdAt":"2026-04-01T15:16:24.548Z","id":"253fb0bf-37ca-4fa3-b7b4-dbdcfc832a7c","email":"info@blocktravelagency.com","firstName":"Emanuel","lastName":"Ortiz","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-04-01T15:17:30.666Z","personalization_survey_n8n_version":"1.123.21","companySize":"<20","companyType":"ecommerce","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"podcast"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-01","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T15:41:08.300Z","createdAt":"2026-04-01T15:41:08.300Z","versionId":"eb8a874b-a783-4572-889b-551df17a50a4","workflowId":"1kDNcdfzUV9ozs7D","nodes":[{"parameters":{"path":"bta-alertas","httpMethod":"POST","responseMode":"responseNode","options":{}},"id":"webhook-alertas","name":"Webhook Alertas","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"alertas@blocktravelagency.com\",\n  \"to\": [\"{{ $json.body.email_destino || $env.IBOTT_EMAIL || 'pendiente@blocktravelagency.com' }}\"],\n  \"subject\": \"{{ $json.body.tipo_alerta }} — {{ $json.body.evento }} — BlockTravelAgency\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><h2 style='color:#e74c3c'>⚠️ Alerta: {{ $json.body.tipo_alerta }}</h2><p><strong>Evento:</strong> {{ $json.body.evento }}</p><p><strong>Métricas:</strong></p><pre style='background:#f5f5f5;padding:15px;border-radius:5px'>{{ JSON.stringify($json.body.metricas, null, 2) }}</pre><p><strong>Acción recomendada:</strong> {{ $json.body.accion_recomendada || 'Revisar métricas y tomar decisión' }}</p><p style='margin-top:30px;color:#666;font-size:12px'>BlockTravelAgency.com — Sistema de alertas automático</p></div>\"\n}","options":{}},"id":"resend-alerta","name":"Enviar Alerta Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[470,300]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"ok\", \"message\": \"Alerta enviada correctamente\"} }","options":{"responseCode":200}},"id":"respond-alerta-ok","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[690,300]}],"connections":{"Webhook Alertas":{"main":[[{"node":"Enviar Alerta Email","type":"main","index":0}]]},"Enviar Alerta Email":{"main":[[{"node":"Responder OK","type":"main","index":0}]]}},"authors":"Emanuel Ortiz","name":null,"description":null}}