infrastructure/n8n/leads-capture.json
{"updatedAt":"2026-04-01T15:49:22.249Z","createdAt":"2026-04-01T15:49:22.249Z","id":"GW9Ha85CU0eAY7lt","name":"BTA-leads-capture","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"bta-leads","httpMethod":"POST","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"bta-leads-webhook-id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-email","leftValue":"={{ $json.body.email }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"cond-telefono","leftValue":"={{ $json.body.telefono }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"cond-nombre","leftValue":"={{ $json.body.nombre }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"}},"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Validar Datos","type":"n8n-nodes-base.if","typeVersion":2,"position":[470,300]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"invalid\", \"message\": \"Datos incompletos\"} }","options":{"responseCode":200}},"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Responder Invalido","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[690,480]},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/{{ $json.body.evento === 'istanbul' ? 'ISTANBUL-leads' : 'CONSENSUS-leads' }}!A:M:append?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"values\": [[\n    \"{{ $now.toISO() }}\",\n    \"{{ $json.body.nombre }}\",\n    \"{{ $json.body.email }}\",\n    \"{{ $json.body.telefono }}\",\n    \"{{ $json.body.personas || '' }}\",\n    \"{{ $json.body.fecha_llegada || '' }}\",\n    \"{{ $json.body.fecha_salida || '' }}\",\n    \"{{ $json.body.evento }}\",\n    \"{{ $json.body.fuente || 'web' }}\",\n    \"nuevo\",\n    \"pendiente\",\n    \"\"\n  ]]\n}","options":{}},"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Google Sheets Append","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[690,160]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"noreply@blocktravelagency.com\",\n  \"to\": [\"{{ $json.body.email }}\"],\n  \"subject\": \"Recibimos tu solicitud — {{ $json.body.evento }}\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><h2 style='color:#1a1a2e'>Hola {{ $json.body.nombre }}!</h2><p>Hemos recibido tu solicitud para el evento <strong>{{ $json.body.evento === 'istanbul' ? 'Istanbul Blockchain Week' : 'Consensus Miami' }}</strong>.</p><p><strong>Detalles:</strong></p><ul><li>Personas: {{ $json.body.personas || 'No especificado' }}</li><li>Llegada: {{ $json.body.fecha_llegada || 'Por confirmar' }}</li><li>Salida: {{ $json.body.fecha_salida || 'Por confirmar' }}</li></ul><p>Nuestro equipo revisara tu solicitud y te contactara en las proximas 24 horas con opciones de alojamiento personalizadas.</p><p style='margin-top:30px;color:#666;font-size:12px'>BlockTravelAgency.com — Tu partner para eventos Web3</p></div>\"\n}","options":{}},"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Enviar Email Confirmacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,160]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"ok\", \"message\": \"Lead registrado correctamente\"} }","options":{"responseCode":200}},"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1150,160]}],"connections":{"Webhook":{"main":[[{"node":"Validar Datos","type":"main","index":0}]]},"Validar Datos":{"main":[[{"node":"Google Sheets Append","type":"main","index":0}],[{"node":"Responder Invalido","type":"main","index":0}]]},"Google Sheets Append":{"main":[[{"node":"Enviar Email Confirmacion","type":"main","index":0}]]},"Enviar Email Confirmacion":{"main":[[{"node":"Responder OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e90f7f16-e3d4-4279-b68a-9993bc40ca07","activeVersionId":"e90f7f16-e3d4-4279-b68a-9993bc40ca07","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T15:49:22.250Z","createdAt":"2026-04-01T15:49:22.250Z","role":"workflow:owner","workflowId":"GW9Ha85CU0eAY7lt","projectId":"KAB48ubo4jushI1a","project":{"updatedAt":"2026-04-01T15:17:00.687Z","createdAt":"2026-04-01T15:16:24.861Z","id":"KAB48ubo4jushI1a","name":"Emanuel Ortiz <info@blocktravelagency.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-04-01T15:16:24.861Z","createdAt":"2026-04-01T15:16:24.861Z","userId":"253fb0bf-37ca-4fa3-b7b4-dbdcfc832a7c","projectId":"KAB48ubo4jushI1a","user":{"updatedAt":"2026-04-01T15:17:30.000Z","createdAt":"2026-04-01T15:16:24.548Z","id":"253fb0bf-37ca-4fa3-b7b4-dbdcfc832a7c","email":"info@blocktravelagency.com","firstName":"Emanuel","lastName":"Ortiz","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-04-01T15:17:30.666Z","personalization_survey_n8n_version":"1.123.21","companySize":"<20","companyType":"ecommerce","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"podcast"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-01","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T15:49:22.253Z","createdAt":"2026-04-01T15:49:22.253Z","versionId":"e90f7f16-e3d4-4279-b68a-9993bc40ca07","workflowId":"GW9Ha85CU0eAY7lt","nodes":[{"parameters":{"path":"bta-leads","httpMethod":"POST","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"bta-leads-webhook-id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-email","leftValue":"={{ $json.body.email }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"cond-telefono","leftValue":"={{ $json.body.telefono }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"cond-nombre","leftValue":"={{ $json.body.nombre }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"}},"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Validar Datos","type":"n8n-nodes-base.if","typeVersion":2,"position":[470,300]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"invalid\", \"message\": \"Datos incompletos\"} }","options":{"responseCode":200}},"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Responder Invalido","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[690,480]},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/{{ $json.body.evento === 'istanbul' ? 'ISTANBUL-leads' : 'CONSENSUS-leads' }}!A:M:append?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"values\": [[\n    \"{{ $now.toISO() }}\",\n    \"{{ $json.body.nombre }}\",\n    \"{{ $json.body.email }}\",\n    \"{{ $json.body.telefono }}\",\n    \"{{ $json.body.personas || '' }}\",\n    \"{{ $json.body.fecha_llegada || '' }}\",\n    \"{{ $json.body.fecha_salida || '' }}\",\n    \"{{ $json.body.evento }}\",\n    \"{{ $json.body.fuente || 'web' }}\",\n    \"nuevo\",\n    \"pendiente\",\n    \"\"\n  ]]\n}","options":{}},"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Google Sheets Append","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[690,160]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"noreply@blocktravelagency.com\",\n  \"to\": [\"{{ $json.body.email }}\"],\n  \"subject\": \"Recibimos tu solicitud — {{ $json.body.evento }}\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><h2 style='color:#1a1a2e'>Hola {{ $json.body.nombre }}!</h2><p>Hemos recibido tu solicitud para el evento <strong>{{ $json.body.evento === 'istanbul' ? 'Istanbul Blockchain Week' : 'Consensus Miami' }}</strong>.</p><p><strong>Detalles:</strong></p><ul><li>Personas: {{ $json.body.personas || 'No especificado' }}</li><li>Llegada: {{ $json.body.fecha_llegada || 'Por confirmar' }}</li><li>Salida: {{ $json.body.fecha_salida || 'Por confirmar' }}</li></ul><p>Nuestro equipo revisara tu solicitud y te contactara en las proximas 24 horas con opciones de alojamiento personalizadas.</p><p style='margin-top:30px;color:#666;font-size:12px'>BlockTravelAgency.com — Tu partner para eventos Web3</p></div>\"\n}","options":{}},"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Enviar Email Confirmacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,160]},{"parameters":{"respondWith":"json","responseBody":"={ {\"status\": \"ok\", \"message\": \"Lead registrado correctamente\"} }","options":{"responseCode":200}},"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1150,160]}],"connections":{"Webhook":{"main":[[{"node":"Validar Datos","type":"main","index":0}]]},"Validar Datos":{"main":[[{"node":"Google Sheets Append","type":"main","index":0}],[{"node":"Responder Invalido","type":"main","index":0}]]},"Google Sheets Append":{"main":[[{"node":"Enviar Email Confirmacion","type":"main","index":0}]]},"Enviar Email Confirmacion":{"main":[[{"node":"Responder OK","type":"main","index":0}]]}},"authors":"Emanuel Ortiz","name":null,"description":null}}